*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Now Display";
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1632154939368-1a92207d8af3?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170);
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
}

h1{
    font-size: 100px;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    font-size: 20px;
    background-color: #B97A0D;
    font-weight: 300;
    color:wheat;
    border: 1px solid sandybrown;
    border-radius: 15px;
    padding: 15px;
}